/* Newtelco Vacations CSS */

/* Login Page */

html {
    font-family: 'Roboto';
}

body {
    scroll-behavior: smooth;
}

.wrapper {
    background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
}

.loginwrapper {
    font-weight: 300;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    margin-top: 100px;
}

.headerImage {
    border: 2px solid white;
    border-radius: 50%;
    width: 150px !important;
    height: 150px !important;
}

.headerText {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 28px;
    color: #fff;
    padding-top: 20px;
    display: inline-block;
}

.loginBtn {
    margin-top: 20px !important;
}

/* Semantic Modifications */ 

.ui.basic.green.button {
    box-shadow: 0 0 0 1px #67B246 inset !important;
    color: #67B246 !important;
}

.tabulator .tabulator-footer .tabulator-page.active { 
    color: #67B246 !important;
    font-weight: 700;
}

i.green.icon.icon.icon.icon {
    color: #67B246;
}

/* Dashboard Page */

.dashboardGrid {
    margin-top: 42px !important;
}

.dashboardMenuImg {
    width: 32px !important;
    margin-right: 5px !important;
}

.ui.menu.fixed {
    background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
}
/* Cal Customizations */

.cal_placeholder {
    border-radius: 5px;
    border: 5px solid rgba(103, 178, 70, 0.8);
    box-shadow: 0px 0px 10px 1px rgba(103, 178, 70, 0.5);
    padding: 10px;
    max-height: 680px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
}

body .fc {
    border-radius: 20px;
}

.fc-event {
    background-color: rgba(103, 178, 70, 0.8) !important;
    border: 1px solid rgba(103, 178, 70, 0.8) !important;
}

.fc-button-primary {
    background-color: rgba(168, 168, 168, 0.8) !important;
    border: 1px solid rgba(168, 168, 168, 0.8) !important;
}

/* New Request */

.formWrapper {
    width: 400px;
    min-width: 200px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}

#requestForm {
    display: inline-block;
    text-align: left;
    width: 70%;
}

#requestForm > .ui {
    margin-top: 15px;
    margin-bottom: 15px;
    /* width: 100%; */
}

#requestForm > .ui > .ui {
    /* width: 100%; */
}

.positive {
    background-color: #67B246 !important;
}

/* .ui.small.green {
    color: #67B246 !important;
} */

.ui.medium.lightgray.text {
    font-size: 0.8em;
    color: #767676;
    top: -5px;
    position: relative;

}

/* Go Top */
.go-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: white;
    background-color: #f6f6f6;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    padding: 18px;
    border-radius: 3px;
    display: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.go-top:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.go-top i {
    height: 0;
    width: 0;
    position: absolute;
    top: 9px;
    left: 8px;
    border-bottom: 17px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}


/* My Vacations */

.overviewHeader {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.dlBtn {
    margin-top: 20px !important;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
    white-space: normal !important;
}

.tabulator-headers .tabulator-col-content {
    height: 60px !important;
}

.tabulator-row-even {
    background-color: rgba(103, 178, 70, 0.2) !important; 
}

.approvedIcon {
    font-size: 18px;
    text-align: center;
    width: 100%;
}

/* Admin */

#allVacaSegment {
    height: 72px;
}

#allVacaHeaderText {
    font-size: 28px;
    font-weight: 400;
    float: left;
}

#userSelectDropdown {
    float: left;
    margin-top: 16px;
    font-size: 28px;
}

#userSelectDropdown {
    margin-top: 8px !important;
    margin-left: 10px !important;
}

.userVacaDLBtn {
    margin-top: -15px !important;
}

#allVacaSegment > .allVacaDLBtn {
    margin: auto 0 !important;
}

#managerTable > .tabulator-header > .tabulator-headers .tabulator-col-content {
    height: initial !important;
}

.ui.modal.addManager {
    max-width: 500px;
}

.delManagerModalText {
    font-size: 24px;
    text-align: center;
}